{% extends 'base.html.twig' %}

{% block title %}{{ folder.title }}{% endblock %}

{% block body %}
<h1 class="page--title">{{ folder.title }}</h1>
    <div class="folder-page--container">
    <div class="file--uploads">
    {% for file in folder.uploadedFiles %}
        <div class="file--single-line">
            <a href="{{ path('api_file_download', {'id': file.id}) }}">{{ file.filePath }}</a>
        </div>
    {% else %}
        <div>Ce dossier est vide. Vous pouvez le supprimer : 
        <form class="folder--delete-form" action="{{ path('api_folder_delete', {'id': folder.id}) }}" data-redirect-url="{{ path('folders') }}">
        <label for="submit"><i class="fas fa-trash-alt fa-2x"></i></label>
        <input type="submit" value="" id="submit">
        </form>
        </div>
    {% endfor %}
    </div>    
    <div id="file--drop-zone" data-upload-url="{{ path('api_file_upload', {'id': folder.id}) }}">
        Déplacez le fichier ici pour le sauvegarder.
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/folderApp.js') }}"></script>
{% endblock %}
