{% extends 'base.html.twig' %}

{% block title %}{{ folder.title }}{% endblock %}

{% block body %}
<h1 class="page--title">{{ folder.title }}</h1>
    <div class="folder-page--container">
    <div class="file--uploads">
    {% for file in folder.uploadedFiles %}
        <div class="file--single-line">
            <a href="{{ path('api_file_download', {'id': file.id}) }}">{{ file.filePath }}</a>
        </div>
    {% endfor %}
    </div>    
    <div id="file--drop-zone" data-upload-url="{{ path('api_file_upload', {'id': folder.id}) }}">
        Déplacez le fichier ici pour le sauvegarder.
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/folderApp.js') }}"></script>
{% endblock %}
