{% extends 'base.html.twig' %}

{% block title %}{{ folder.title }}{% endblock %}

{% block body %}
<div class="title-form--container">
    <form class="title-form--form" action="{{ path('folder_put', {'id': folder.id}) }}">
        <input class="title-form--title-input" type="text" name="folderTitle" value="{{ folder.title }}" disabled>
        <input class="title-form--title-submit hidden" type="submit" value="Modifier">
        <i class="fas fa-edit button--edit-folder"></i>
    </form>
</div>
    <div class="folder-page--container">
    <div class="file--uploads">
    {% for file in folder.uploadedFiles %}
        <div class="file--single-line">
            <a href="{{ path('api_file_download', {'id': file.id}) }}">{{ file.filePath }}</a>
            <i class="fas fa-trash-alt file--delete" data-delete-url="{{ path('api_file_delete', {'id': file.id}) }}"></i>
        </div>
    {% else %}
        <div>Ce dossier est vide. Vous pouvez le supprimer : 
        <i class="fas fa-trash-alt fa-2x folder--delete" data-delete-url="{{ path('api_folder_delete', {'id': folder.id}) }}" data-redirect-url="{{ path('folders') }}"></i>
        </div>
    {% endfor %}
    </div>    
    <div id="file--drop-zone" data-upload-url="{{ path('api_file_upload', {'id': folder.id}) }}">
        Déplacez le fichier ici pour le sauvegarder.
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/folderApp.js') }}"></script>
{% endblock %}
