{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
  
    {% for projectStatus in projectStatuses %}

    <h2 class="project-status--card" style="border: solid 3px {{ projectStatus.color }}">
        {{ projectStatus.title }}
    </h2>
    <div class="project-container" data-add-project-url="to be done">
    {% for project in projectStatus.projects %}
        <li class="project--list">
            <a href="{{ path('project_show', {'id': project.id}) }}">{{ project.title }}</a> {% if project.description %} ({{ project.description }}){% endif %} <a href="{{ path('project_edit', {'id': project.id}) }}"><i class="fas fa-edit"></i></a>
        </li>
    {% endfor %}
    </div>
    {% else %}
            Les etapes de projet n'ont pas été definis. <a href="{{ path('project_status_new') }}">Definir les etapes</a>.
    {% endfor %}
<button id="add-project--button">Ajouter un projet</button>
</div>
<div class="user-list">
hello
</div>
{% block javascripts %}
    <script src="{{ asset('js/homeApp.js') }}"></script>
{% endblock %}
{% endblock %}
