{% extends 'base.html.twig' %}

{% block title %}
	{{ project.title }}
{% endblock %}

{% block body %}
	<h1>{{ project.title }}</h1>
		<form class="newTask" action="{{ path('task_post') }}" data-project-id={{ project.id }}>
		<label for="task-name">Ajouter une tache :</label>
		<input type="text" name="task-name" id="">
		<input type="submit" value="Ajouter">
	</form>
	{% for taskStatus in statuses %}
		<h2 class="project-status--card drag-and-drop--landing" style="border: solid 3px {{ taskStatus.color }}" data-task-status-id="{{ taskStatus.id }}">
			{{ taskStatus.title }}
		</h2>
		<div class="task--container" data-update-status-url="{{ path('task_status_update') }}">
		<ul class="task--list-container">
			{% for task in project.tasks %}
				{% if task.taskStatus == taskStatus %}
					<li class="task--list-item" draggable="true">
                    <form class="task--title-form" action="">
                    <input type="text" class="input--title" name="taskTitle" data-task-id={{ task.id }} value="{{ task.title }}" readonly>
                    <input type="submit" class="input--submit-task-change hidden" value="Ok">
                    </form>
						<select class="taskUser" name="taskUser" data-action="{{ path('task_user_put', {'id': task.id}) }}" style="background-color:{{ task.user ? task.user.color : "#ffffff" }}" value="{{ task.user != "" ? task.user.id : "" }}" data-user="{{ task.user }}">
							{% for user in users %}
                                {% if task.user == "" %}
                                    <option value="" selected disabled hidden>Qui va le faire ?</option>
                                {% endif %}
								<option value="{{ user.id }}" data-color="{{ user.color }}" style="background-color:{{ user ? user.color : "#ffffff" }}" {{ task.user == user ? "selected" : "" }}>{{ user.displayName }}</option>
							{% endfor %}
						</select>
                        <i class="fas fa-edit button--edit-task" data-project-id="{{ project.id }}"></i>
                        <i class="fas fa-arrows-alt"></i>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endfor %}

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/projectPageApp.js') }}"></script>
{% endblock %}
