{% extends 'base.html.twig' %}

{% block title %}L'equipe{% endblock %}

{% block body %}
<div class="user--row" data-update-user-url="{{ path('task_user_update') }}">
    {% for user in users %}
        <div class="user--column">
        <h1 class="user--name drag-and-drop--landing" style="border: solid 3px {{ user.color }}" data-user-id="{{ user.id }}" >{{ user.displayName }}</h1>
        {% for project in projects %}
            <div class="project--container">
                <h2>{{ project.title }} <a href="{{ path('project_show', {'id': project.id}) }}"><i class="fas fa-eye"></i></a></h2>
                {% for task in project.tasks %}
                    {% if task in user.tasks and task.taskStatus.title != "Fini" %}
                        <li class="task--list-item" draggable="false" data-task-id="{{ task.id }}" id="task-{{ task.id }}-item">
                            <form class="task--list-form" action="{{ path('task_put', {'id': task.id}) }}">
                            <input type="text" class="input--title" name="taskTitle" data-task-id={{ task.id }} value="{{ task.title }}" readonly>
                            <input type="submit" class="input--submit-task-change hidden" value="Ok">
                            </form>
                            <select class="taskStatus" data-action="{{ path('task_status_update') }}" style="background-color:{{ task.taskStatus.color }}" data-task-id="{{ task.id }}">
                            {% for status in statuses %}
                              <option value="{{ status.id }}" data-color="{{ status.color }}" style="background-color:{{ status.color }}" {{ status == task.taskStatus ? "selected" : "" }}>{{ status.title }}</option>
                            {% endfor %}
                            </select>
                            <i class="fas fa-edit button--edit-task" data-task-id="{{ task.id }}"></i>
                            <i class="fas fa-arrows-alt"></i>
                        </li>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/usersPageApp.js') }}"></script>
{% endblock %}